$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-close: unquote('"\\e900"');
$icon-arrow-right: unquote('"\\e901"');
$icon-arrow-up: unquote('"\\e902"');
$icon-favorite: unquote('"\\e903"');

